@{
    ViewData["Title"] = "Instrument";

}
@{
    List<object> toolbarItems = new List<object>();
    toolbarItems.Add("Add");
    toolbarItems.Add("Edit");
    toolbarItems.Add("Delete");
    toolbarItems.Add("Update");
    toolbarItems.Add("Cancel");
    toolbarItems.Add(new { text = "Click", tooltipText = "Click", prefixIcon = "e-expand", id = "Click" });
}
@model Instrument
    <body>
        <div class="content-wrapper">

            <!-- Main content -->
            <section class="content">
                <!-- Default box -->
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title text-primary"><i class="fa fa-certificate"></i> @ViewData["Title"]</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                                    title="Collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <ejs-grid id="Grid" allowExcelExport="true" allowResizing="true" allowFiltering="true" allowSelection="true" allowPaging="true" toolbarClick="toolbarClick" toolbar=toolbarItems>
                            <e-data-manager adaptor="WebApiAdaptor" insertUrl="/api/Instruments/Insert" updateUrl="/api/Instruments/Update" removeUrl="/api/Instruments/Remove" crossDomain="true"></e-data-manager>
                            <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true" mode="Dialog" allowEditOnDblClick="true"></e-grid-editSettings>
                            <e-grid-columns>
                                <e-grid-column field="InstrumentId" headerText="Instrument ID" isPrimaryKey="true" width="50" isIdentity="true" visible="false"></e-grid-column>
                                <e-grid-column field="InstrumentName" headerText="Instrument Name"></e-grid-column>
                                <e-grid-column field="MaintenanceDate" headerText="Last Maintenance" editType="datepickeredit"></e-grid-column>
                                <e-grid-column field="MaintenanceInterval" headerText="Maintence Length (months)" editType="numericedit"></e-grid-column>
                                <e-grid-column field="CalibrationDate" headerText="Calibration Date" editType="datepickeredit"></e-grid-column>
                                <e-grid-column field="CalibrationLength" headerText="Calibration Length(months)" editType="numericedit"></e-grid-column>
                                <e-grid-column field="CalibrationDue" headerText="Calibration Due" allowEditing="false"></e-grid-column>
                            </e-grid-columns>

                        </ejs-grid>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">

                    </div>
                    <!-- /.box-footer-->
                </div>
                <!-- /.box -->
            </section>
            <!-- /.content -->
        </div>
    </body>
<script>
    function toolbarClick(args) {
        if (args.item.id === 'Click') {
            alert("Custom toolbar click...");
        }
    }
</script>

<style>
    .e-expand::before {
        content: '\e5b8';
    }
</style>
